
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outifit", sans-serif;
}

:root {
  --text-color: white;
  --bg-url: url(./assets.image/mobile.bg.jpg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets.image/desktop.bg.jpg);
  }
}

header {
  background-image: url(./assets.image/titulo.bg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 45px;
}


nav {
  background-color: #565656;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  border: #333;
}

main {
  padding: 20px;
}

section {
  background-color: grey;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
img{
  max-width: 20%;
  height: auto;
  border-radius: 25px;
}
  

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}



footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}