
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outifit", sans-serif;
}

:root {
  --text-color: white;
  --bg-url: url(./assets.image/mobile.bg.jpg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets.image/desktop.bg.jpg);
  }
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  background-color: #555;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}