* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cinzel", sans-serif;
}

:root {
  --text-color: white;
  --mobile-bg-url: url(./assets.image/mobile.bg.jpg);
  --desktop-bg-url: url(./assets.image/desktop.bg.jpg);
}

body {
  background: var(--mobile-bg-url) no-repeat top center/cover;
  font-size: 20px; /* Ajuste o tamanho da fonte para melhor leitura em dispositivos móveis */
  color: white;
}

@media (min-width: 700px) {
  body {
    background: var(--desktop-bg-url) no-repeat top center/cover;
  }

  main {
    font-size: 30px; /*tamanho da fonte para desktop*/
  }
}

header {
  background-image: url(./assets.image/titulo.bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 40px 20px; /* Ajuste o preenchimento para melhor espaçamento */
  font-size: 24px;
}

nav {
  background-color:#333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px;
}

/* Adicione esta regra para criar a transição */
nav a {
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

/* Adicione esta regra para alterar a cor ao passar o mouse */
nav a:hover {
  color:yellowgreen; /* Cor desejada ao passar o mouse */
  transform: scale(1.1);
}

main {
  padding: 20px;
}

section {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

img {
  max-width: 20%; /* Torne as imagens responsivas */
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 80px;
}

@media (max-width: 699px) {
  img {
    max-width: 100%; /*tamanho da imagem para mobile*/
  }
  footer {
    font-size: 14px; /*tamanho para mobile*/
  }
}

#characters {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.hidden {
  display: none;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}